@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
@font-face {
    font-family: custom;
    src: url(fonts/PastiOblique-7B0wK.otf);
}
.boxshadow{
    box-shadow: 0px 4px 8px 5px rgba(197, 197, 197, 0.2);
    border-radius: 8px;
}
#dbkk{
    font-family: 'Kalam', cursive;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  color: #e0e0e0;
}


#topbar {
    padding: 0px 25px ;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 5px #dbdbdb;
}
.topbartext{
    color: rgba(38,38,38,.75);
  
}
.topbartext:hover{
    color: black;
    opacity:1;  
}
#logo{
    width: 28px;
    height: 28px;
}
#topbargap{
 
   width: 315px;
}
#topbarprofile{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
#topbarprofile:hover{
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-left: -3px;
    cursor: pointer;
    filter: grayscale(70%);
}
.orange{
    color: #FFA116;
}
.orange:hover{
    color: #FFA116;
}
.dropdownsbl{
    display: inline-block;
   
    
}
#interviewdropdown{
    width: 170px;
    height: 80px;
    position: absolute;
    top:55px;
    left: 420px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    padding-left: 10px;
    transition: 0.2s;
    opacity: 0;
}
#interviewdropdown div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 14px;
    color: #747474;
}
#interviewdropdown div img{
   width: 18px;
   height: 18px;
   margin-right: 10px;

}
#storedd{
    width: 95px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    position: absolute;
    background-color: #ffffff;
    top: 46px;
    left: 530px;
    font-size: 14px;
    padding: 10px;
    padding-left: 15px;
    opacity:0;
    transition: 0.2s;
    z-index: 50px;

}
#profilecard{
    width: 296px;
    height: 472px;
    background-color: #ffffff;
    position: absolute;
    top:100px;
    opacity: 0;
    /*55*/
    right: 30px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    padding: 20px 15px;
    z-index: 100;
    transition: 0.3s ease;
    display: none;
}
#profilecard div{
    display: flex;
    align-items: center;


}
#pcimg{
    display: flex;
    justify-content: left;
}
#pclogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 190px;
    margin-top: 15px;
    

}
#pclogo div{
    width: 80px;
    height: 80px;
    background-color: #f7f7f8;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color:#868686;
}
#pclogo div img{
    width: 40px;
    height: 40px;
}

#main{
    height: 4400px;
    padding: 24px;
    display: flex;
    margin: 0px 16px;
    justify-content: space-around;
   
    
}
#mainleft{
    width: 858px;
    height: 4400px;
    display: flex;
    flex-direction: column;
     margin-right: 20px;
       
}
#mainright{
    min-width: 270px;
    height: 4300px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    
   
}
#swipersymbol{
    text-align: end;
    color: rgba(38,38,38,.75);
    margin-bottom: 3px;
}
#ssleft:hover{
    background-color: #d5d5d5;
}
#ssright:hover{
    background-color: #d5d5d5;
}
#ssleft{
    width: 25.5px;
    height: 25.5px;
    background-color:rgb(247, 247, 248);
    border-radius: 4px;
    cursor: pointer;
}
#ssright{
    width: 25.5px;
    height: 25.5px;
    background-color:rgb(247, 247, 248);
    border-radius: 4px;
    cursor: pointer;
}
#swipersymbol2{
    text-align: end;
    color: rgba(38,38,38,.75);
    margin-bottom: 1px;
}
#ssleft2:hover{
    background-color: #d5d5d5;
}
#ssright2:hover{
    background-color: #d5d5d5;
}
#ssleft2{
    width: 25.5px;
    height: 25.5px;
    background-color:rgb(247, 247, 248);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
#ssright2{
    width: 25.5px;
    height: 25.5px;
    background-color:rgb(247, 247, 248);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
#swiperlayout{
    width: 858px;
    min-height: 151px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
#swiper{
    width: 858px;
    min-height: 151px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 0.3s ease;
    margin: 2px;
    padding: 4px;
 
    
}

.swiperimage{
    height: 135px;
    width: 270px;
    border-radius: 15px;
    margin-right:20px;
    margin-top: 3px;
}
#swiperlayout2{
    width: 858px;
    min-height: 216px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
#swiper2{
    width: 858px;
    min-height: 216px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 0.3s ease;
    margin: 2px;
    margin-top: 0px;
    padding: 4px;
 
    
}
#swiper2 div{
    width: 160px;
    text-align: center;
    font-size: 14px;
    padding: 3px;
    margin-right: 15px;
}
.swiperimage2{
    height: 152px;
    width: 152px;
    margin-bottom:5px;
    border-radius: 15px;
    

}
#seprater{
    max-width: 858px;
    border-top:2px solid rgb(248, 248, 248) ;
    margin: 20px 0px;
}
#topics{
    max-width: 858px;
    min-height: 19px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}
#topics div{
    font-size: 14px;
    cursor: pointer;
}
#topics span{
    text-align: center;
    color: #9c9c9c;
    width: 37px;
    height: 18px;
    font-size: 12px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-left: -10px;
}
#topicsextra{
    max-width: 858px;
    min-height:77px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    display: none;
  
   
}
#topicsextra div{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:3px;
    cursor: pointer;

}
#topicsextra span{
    text-align: center;
    color: #9c9c9c;
    width: 37px;
    height: 18px;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 8px;
    background-color: #f0f0f0;
    border-radius: 10px;
    
  
}
#cat{
    max-width: 700px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 0px;
}
#cat div{
    background-color: #f2f3f4;
    color: rgba(38,38,38,.75);
    border-radius: 20px;
    padding: 10px 20px;
}
#cat div:hover{
    background-color: #dddddd;
    
}
#algo{
    color:#FFA116;
    
}
#db{
    color:#2c8bff;
     
}
#shell{
    color:#34d22c;
   
}
#con{
    color:#af52de;
    
}
#cat #alltopics{
    background-color: #000000;
    color: #ffffff;
}
#cat2{
    max-width: 700px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 0px;
}
#cat2 div{
    font-size: 15px;
    background-color: #f2f3f4;
    color: rgba(38,38,38,.75);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 8px;
    width: auto;
    height: 31px;
    align-items: center;
}
#cat2 div svg{
   margin-left: 3px;
}
#sbinput{
    border: none;
    border-style: none;
    background-color: #f2f3f4;
    color:  rgba(38,38,38,.75);
    margin-left: 5px;
    width: 200px;
    font-size: 14px;
}
#po{
    position:absolute;
    width: 100px;
    left: 790px;
    top: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#poi{
    background-color: #3cc36c;
    border-radius: 50%;
    padding: 7px;
    width: 32px;
    height: 32px;
    box-shadow: 1px 1px 10px #7ed59d;
    color: #ffffff;
}
#pot{
    color:#3cc36c ;
    margin-left: 8px;
    font-size: 14px;
}
*:focus{
    outline: none;
}
th{
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 25px;
    color: #676767;
    
}
td{
    font-size: 15px;
    text-overflow: ellipsis;
}
#problemstable tr:nth-child(even){
    background-color: #f6f6f6;
    

}
#problemstable{
    border-collapse: collapse;
}
#problemstable td{
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}
.arrow{
    position: relative;
   
}
#a1{
    left:285px;
}
#a2{
    left:37px;
}
#a3{
    left:30px;
}
#lock{
    display: flex;
}
#spanleft{
    width: 42px;
    height: 8px;
    background-color: #eaecef;
    position: relative;
    top:6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#spanright{
    width: 42px;
    height: 8px;
    background-color: #eaecef;
    position: relative;
    top:6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#locki{
    color: #bfbfbf;
    position: relative;
    bottom: 3px;
    width: 20px;
    height: 20px;
}
td{
    vertical-align: middle;
    padding-top:  14px;
    padding-bottom: 14px;
}
 #freq{
    width: 110px;
}
#completed{
    color: #34d22c;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
#medium{
    color: #FFA116;
}
.medium{
    font-size: 13px;
    color: #FFA116;
}
#easy{
    color: #34d22c;
}
#hard{
    color:#ff2d55;
}
#solution{
    color: #007aff;
    width: 19px;
    height: 19px;
}
#solutionvideo{
    color: #af52de;
    width: 18px;
    height: 18px;
}
#titletd{
    width: 350px;
    text-overflow: ellipsis;
}
#tdnames:hover{
    color: #007aff;
    cursor: pointer;
}
#session{
    width: 270px;
    height: 151px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 5px rgba(197, 197, 197, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
#session2{
    width: 246px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#sessioncirle{
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: 3px solid #dfdfdf;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#qdone div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#qdone{
    height: 80px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#anonymus{
    width:92px; 
    height:23px; 
    font-size: 12px;
    background-color: #f2f3f4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    font-weight: 400;
    text-align:left;
    padding: 3px;
    color: #9d9d9d;
    margin-left: 70px;
}
#session1{
    width: 270px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
    padding-top: 10px;
}
#studyplan{
    width: 270px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 5px;
    padding-left: 10px;
    
    margin-top: 20px;
}
#studyplan1{
    width: 35px;
    height: 35px;
    margin-top: 7px;
    opacity: 0.7;
    margin-right: 10px;
}
#studyplan2{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: left;
}
#flimages{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
ul{
    list-style-type: none;
}
#featuredlist{
  width: 270px;
  height: 210px;
  /*420*/
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 20px;
  padding-top: 10px;
  margin-top: 20px;
  overflow: hidden;
}
ul li{
  padding: 7px 0px;
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
#showmore,#showless{
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color:#9c9c9c;
    padding-bottom: 10px;
    cursor: pointer;
    
}
#showmore:hover,#showless:hover{
   
    color:#747474;
    
    
}
#dailybox{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 270px;
    height: 350px;
    padding-right: 20px;
    position: sticky;
    top:54px;
}
#logoandday{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10px;
}
#dblogo{
 
    width: 75px;
    height: 75px;
    filter:grayscale(100%);
    opacity: 0.3;
    transition: 0.5s;
}
#logos{
    position: relative;
    top: -54px;
}
#dblogo:hover{
    filter:grayscale(0%);
    opacity:1;
}
#completedlogo{
    width: 24px;
    height: 24px;
    margin-left:5px;
    color: #007aff;
}
#calander td{
    font-size: 12px;
    color: #676767;
    padding: 5px;
    padding-left: 0px;
}
#calander th{
    font-size: 12px;
    color: #cccccc;
   text-align: center;
    padding: 5px;
   
}
#calander{
    width: 254px;
    height: 194px;
    margin-top: 20px;
    text-align: center;
}
#weeklypremium{
    width: 240p;
    height: 80px;
    background-color: #fff6e8;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;
}
#wp1{
    display: flex;
    justify-content: space-between;
    
}
#weeks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}